<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878249547590-5nt4vf1hge4ftl8v6s28j5r4t6gvs1jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878249547590-5nt4vf1hge4ftl8v6s28j5r4t6gvs1jv</string>
	<key>API_KEY</key>
	<string>AIzaSyBPGE1Yls3dK2BkiEHlfpYBBw7AjPxrDUw</string>
	<key>GCM_SENDER_ID</key>
	<string>878249547590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.zhannaslyamova.lms</string>
	<key>PROJECT_ID</key>
	<string>lms-zhs-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>lms-zhs-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878249547590:ios:0ed57395e3c60bcc49f747</string>
</dict>
</plist>