<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649416314422-9q1fr7ns4783r7550718ijhgkhkemrfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649416314422-9q1fr7ns4783r7550718ijhgkhkemrfj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649416314422-5empqenfbck2udthjsm8rr8hb54a974n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUqsLsqkyes85Vj915MoMGdYOhF1gQErY</string>
	<key>GCM_SENDER_ID</key>
	<string>649416314422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.zhannaslyamova.lms.ios</string>
	<key>PROJECT_ID</key>
	<string>zhanna-slyamova-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>zhanna-slyamova-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649416314422:ios:0cdf46e56c7aa650fd9297</string>
</dict>
</plist>